.galery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box-galery {
  width: 30%; /* Ajusta el ancho de cada tarjeta */
  margin-bottom: 20px;
}

/* Estilos para pantallas peque침as */
@media (max-width: 768px) {
  .galery {
      flex-direction: column; /* Cambia la direcci칩n del flex para que los elementos se apilen verticalmente */
      align-items: center; /* Centra los elementos horizontalmente */
  }

  .box-galery {
      width: 90%; /* Ajusta el ancho de cada tarjeta para pantallas peque침as */
      margin-bottom: 20px; /* Margen inferior */
  }
}

body {
  margin: 0;
  padding: 0;
  background-size: contain; /* Ajusta la imagen de fondo para que quepa dentro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-position: center; /* Centra la imagen de fondo */
}

/* Resto de tus estilos */
.imagen_bici {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bicicleta {
  margin: 1%;
  max-height: 100%;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bicicleta:hover {
  transform: scale(1.05); /* Aumentar el tama침o al pasar el mouse */
  box-shadow: 0px 10px 10px rgba(117, 193, 255, 0.74); /* Cambiar la sombra al pasar el mouse */
}

.bicicleta img {
  height: 140px;
  width: 200px;
  object-fit: contain;
}

.bicicleta h2 {
  margin-top: 10px;
  font-size: 18px;
  padding: 9px;
}

.bicicleta p {
  margin: 3px;
  font-weight: bold;
  font-size: 24px;
  padding: 3px;
}

.boton_cat {
  box-sizing: border-box;
  padding: 7px 20px;
  width: 57%;
  font-size: 14px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  margin: 3px;
}

.boton_cat:hover {
  background-color: #0056b3;
}

.cuadro {
  float: left;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(231, 231, 231);
  height: 640px;
}

.contenedor2 {
  display: flex;
  justify-content: center;
}

.cuadro {
  max-width: 100%;
}

.boton_filtro {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 80px;
  margin: 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}